.workSpace {
  background: linear-gradient(
    90deg,
    rgba(4, 14, 37, 1) 0%,
    rgba(1, 14, 45, 1) 100%
  );
}
.workSpace .sec_1 {
  display: flex;
}
.workSpace .sec_1 .sideBar {
  flex: 2;
  padding: 0 20px 0 50px;
}
.workSpace .sec_1 .graph_container {
  flex: 5;
  color: white;
}
.workSpace .sec_1 .heading_wrpr {
  display: flex;
  align-items: center;
}
.workSpace .sec_1 h2 {
  padding: 0;
  margin: 0;
  font-size: 55px;
}
.workSpace .sec_1 p {
  margin: 0 20px;
  font-size: 25px;
}
.workSpace .coinWrpr {
  height: 80vh;
  overflow-y: scroll;
  position: relative;
}
.overlay {
  margin: 5px 60px;
  padding: 40px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* border-radius: 10px; */
  background: linear-gradient(184deg, transparent, rgba(0, 0, 0, 1) 100%);
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
  color: black;
  cursor: pointer;
  position: absolute;
  bottom: 33px;
  width: 100px;
  height: 0px;
  /* background:red; */
  /* right: -20px; */
}
/* Coin================ */
.coinComp {
  margin: 10px 60px;
  padding: 20px 30px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #fdf6ec;
  color: black;
  cursor: pointer;
  width: 100px;
}
.coinComp:last-child {
  margin-bottom: 0px;
}
.coinComp:hover {
  background-color: #14dfba;
  color: white;
}
.coinComp h3 {
  padding: 0;
  margin: 0;
  text-align: center;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
