.navBar {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.navBar div {
  background-color: #05bb9a;
  padding: 5px 20px;
  color: white;
  margin: 10px;
  border-radius: 5px;
  font-weight: bold;
cursor: pointer;
}
